.controls {
    margin-bottom: 20px;
}
.controls label {
    margin-right: 5px;
}
.controls select {
    margin-right: 20px;
}
.charts {
    display: flex;
    flex-wrap: wrap;
}
.chart {
    margin: 10px;
}
#svg_perf {
    background-color: transparent;
    overflow: visible;  /* Ensure axis labels are not cut */
}
